{% extends 'base.html' %}


{% block title %}
    <title>Dashboard</title>
{% endblock title %}


{% block content %}
    
<br>
<div class="container-fluid" style="margin: 20px;">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a href="{% url 'index'%}" class="btn btn-warning"> Go Back </a>
                <hr>
                <h3>Account Settings </h3>
                <hr>
                <img class="profile-pic" src="{{request.user.user_profile.image.url}}" alt="" width=200 height="200">

            </div>
        </div>
        <div class="col-md-7">
            <div class="card card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Submit" class="btn btn-primary">
                    <p class="danger">
                        {{forms.errors}}
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
